<<<<<<< HEAD
.flexcontainer{
    border:1px solid blueviolet;
    display: flex;
    height: 90px;
     align-items: center;
     gap: 20px;
    flex-direction: row;
    align-items:center; 
    flex-wrap: wrap;
    align-content: center;
}
.flexItem{
    background-color: blue;
    border: 2px solid rebeccapurple;
    color: tomato;
    font-size: 24px;
    height: 60px;
    width: 80px;
}
.flex{
    background-color: blue;
    border: 2px solid rebeccapurple;
    color: tomato;
    font-size: 24px;
    height: 60px;
    width: 1500px;
    text-align: center;
}
.jc1{
  display: flex;
  gap: 30px;
  border: 1px solid black;
  padding: 07px;
  justify-content: center;
  
}
.jc2{
  display: flex;
  gap: 30px;
  border: 1px solid black;
  padding: 07px;
  justify-content: space-between;
}
.jc3{
  display: flex;
  gap: 30px;
  border: 1px solid black;
  padding: 07px;
  justify-content: space-around;
  
}
.text{
    background-color: blue;
    border: 2px solid rebeccapurple;
    color: tomato;
    display: flex;
    width: 60px;
    height: 60px;
    flex-wrap: wrap;

}
=======

/* Universal selector - * */
*{
    border : 1px solid black;/
}

/* tag selector */
h1{
    background-color: aquamarine;
}

/* Id selector - # */
#a{
    color: white;
    background-color: aqua;
}

/* class selector - . */
.b{
    border: 10px solid blueviolet;
}

/* Group selector - , */
h1, h2{
    text-align: center;
}

/* Descendant selector */
div p{
    text-align: right;
}

/* Child selector - > */
div > p{
    color: green;
    background-color: aqua;
}

/* Attribute selector */
button[type="submit"]{
    color: red;
    font-size: 32px;
}

/* Pseudo class - : */
li:nth-child(2){
    color: mediumvioletred;
    font-size: large;
}

li:nth-child(3):hover{
    color: orange;
    font-size: medium;
}

/* Pseudo elements - :: */
#a::first-line{
    font-size: 32px;
    color: purple;
}
>>>>>>> 69bb18c9ee7872efc45bd53500cd1e3ef38415aa
